<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.component.css">
    <title>CINESA</title>
</head>
<body>
    <div class="container">
    

        <header class="hero">
            <h1>CINESA</h1>
            <p>¡Bienvenido al CINESA! Disfruta de las mejores películas y series en nuestra sala.</p>
        </header>

        <section class="featured">
            <h2>Películas Destacadas</h2>
            <div class="movie-grid">
                <div class="movie-card">
                    <img src="elPadrino.jpg" alt="El Padrino">
                    <h3>EL PADRINO</h3>
                    <p>Un drama sobre la mafia italiana y la familia Corleone.</p>
                </div>
                <div class="movie-card">
                    <img src="elSeñorDeLosAnillos.jpg" alt="El Señor de los Anillos">
                    <h3>EL SEÑOR DE LOS ANILLOS</h3>
                    <p>La épica aventura de Frodo y la lucha contra Sauron.</p>
                </div>
                <div class="movie-card">
                    <img src="forrestGump.jpg" alt="Forrest Gump">
                    <h3>FORREST GUMP</h3>
                    <p>La vida extraordinaria de un hombre común en la historia de EE.UU.</p>
                </div>
                <div class="movie-card">
                    <img src="seven.jpg" alt="SEVEN">
                    <h3>SEVEN</h3>
                    <p>La vida extraordinaria de un hombre común en la historia de EE.UU.</p>
                </div>
                <div class="movie-card">
                    <img src="TRANSFORMERS.jpg" alt="transformers">
                    <h3>TRANSFORMERS</h3>
                    <p>La vida extraordinaria de un hombre común en la historia de EE.UU.</p>
                </div>
            </div>
        </section>

        <section class="featured">
            <h2>Series Recomendadas</h2>
            <div class="movie-grid">
                <div class="movie-card">
                    <img src="breaking-bad.jpg" alt="Serie 1">
                    <h3>BREAKING BAD</h3>
                    <p>Descripción de la serie 1.</p>
                </div>
                <div class="movie-card">
                    <img src="peaky-blinders.jpg" alt="Serie 2">
                    <h3>PEAKY BLINDERS</h3>
                    <p>Descripción de la serie 2.</p>
                </div>
                <div class="movie-card">
                    <img src="vikingos.png" alt="Serie 3">
                    <h3>VIKINGOS</h3>
                    <p>Descripción de la serie 3.</p>
                </div>
                <div class="movie-card">
                    <img src="prision-break.jpg" alt="Serie 4">
                    <h3>PRISION BREAK</h3>
                    <p>Descripción de la serie 3.</p>
                </div>
                <div class="movie-card">
                    <img src="dahmer.jpg" alt="Serie 5">
                    <h3>DAHMER</h3>
                    <p>Descripción de la serie 3.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

    

